<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>New</display-name>
  <welcome-file-list>
    <welcome-file>Register.html</welcome-file>
    <welcome-file>Register.htm</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Listeners.CreateTables</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ShowUsersTableServlet</display-name>
    <servlet-name>ShowUsersTableServlet</servlet-name>
    <servlet-class>Servlets.ShowUsersTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsersTableServlet</servlet-name>
    <url-pattern>/ShowUsersTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostMsgServlet</display-name>
    <servlet-name>PostMsgServlet</servlet-name>
    <servlet-class>Servlets.PostMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMsgServlet</servlet-name>
    <url-pattern>/PostMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSessionServlet</display-name>
    <servlet-name>GetSessionServlet</servlet-name>
    <servlet-class>Servlets.GetSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSessionServlet</servlet-name>
    <url-pattern>/GetSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscoverServlet</display-name>
    <servlet-name>DiscoverServlet</servlet-name>
    <servlet-class>Servlets.DiscoverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscoverServlet</servlet-name>
    <url-pattern>/DiscoverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMsgsTable</display-name>
    <servlet-name>ShowMsgsTable</servlet-name>
    <servlet-class>Servlets.ShowMsgsTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMsgsTable</servlet-name>
    <url-pattern>/ShowMsgsTable</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Listeners.CreateMsgsTable</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ChangeDisplayServlet</display-name>
    <servlet-name>ChangeDisplayServlet</servlet-name>
    <servlet-class>Servlets.ChangeDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDisplayServlet</servlet-name>
    <url-pattern>/ChangeDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserMsgsServlet</display-name>
    <servlet-name>GetUserMsgsServlet</servlet-name>
    <servlet-class>Servlets.GetUserMsgsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserMsgsServlet</servlet-name>
    <url-pattern>/GetUserMsgsServlet/nickname/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>Servlets.GetUserInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetAllMsgsServlet</display-name>
    <servlet-name>GetAllMsgsServlet</servlet-name>
    <servlet-class>Servlets.GetAllMsgsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllMsgsServlet</servlet-name>
    <url-pattern>/GetAllMsgsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUsersServlet</display-name>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <servlet-class>Servlets.GetAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <url-pattern>/GetAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RepublishServlet</display-name>
    <servlet-name>RepublishServlet</servlet-name>
    <servlet-class>Servlets.RepublishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepublishServlet</servlet-name>
    <url-pattern>/RepublishServlet/msgid/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Listeners.UpdateMsgID</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>FollowServlet</display-name>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>Servlets.FollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/FollowServlet/nickname/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFollowTable</display-name>
    <servlet-name>ShowFollowTable</servlet-name>
    <servlet-class>Servlets.ShowFollowTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFollowTable</servlet-name>
    <url-pattern>/ShowFollowTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFollowUsersServlet</display-name>
    <servlet-name>GetFollowUsersServlet</servlet-name>
    <servlet-class>Servlets.GetFollowUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFollowUsersServlet</servlet-name>
    <url-pattern>/GetFollowUsersServlet/username/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitUserInfoServlet</display-name>
    <servlet-name>VisitUserInfoServlet</servlet-name>
    <servlet-class>Servlets.VisitUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitUserInfoServlet</servlet-name>
    <url-pattern>/VisitUserInfoServlet/username/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFollowerUserServlet</display-name>
    <servlet-name>GetFollowerUserServlet</servlet-name>
    <servlet-class>Servlets.GetFollowerUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFollowerUserServlet</servlet-name>
    <url-pattern>/GetFollowerUserServlet/username/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTopicMsgsServlet</display-name>
    <servlet-name>GetTopicMsgsServlet</servlet-name>
    <servlet-class>Servlets.GetTopicMsgsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopicMsgsServlet</servlet-name>
    <url-pattern>/GetTopicMsgsServlet/topic/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTopicsTableServlet</display-name>
    <servlet-name>ShowTopicsTableServlet</servlet-name>
    <servlet-class>Servlets.ShowTopicsTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTopicsTableServlet</servlet-name>
    <url-pattern>/ShowTopicsTableServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>my connection</description>
    <res-ref-name>jdbc/CustomerDatasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>